@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.credit-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
    height: 250px;
    padding: 25px;
    border-radius: 15px;

    color: white;

    background-image: linear-gradient(25deg, #b18be2, #858f96);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.credit-card__name{
  display:flex;
  justify-content: flex-end;
  font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
}
.credit-card__logo1{
  border-radius: 10%;
}
.credit-card__number {
    display: flex;
    justify-content: center;

    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
}

.credit-card__info {
    display: flex;
    justify-content: space-between;

    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
}


.credit-card__info_label {
    font-size: 14px;
}
.credit-card__info_valid-date{
  display: flex;
  justify-content:flex-end;
}
.credit-card__info_logo{
  height:75px;
  width:70px;
  }
